<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>PasswordRepeat for </h1>
      <form action="/resetpassword/{{id}}/{{token}}" method="POST">
        <label for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
        <label for="password">PasswordRepeat</label>
            <input class="form-control" type="password" name="passwordr" id="passwordr" placeholder="********" required />
            <input class="btn btn--form" type="submit" value="Reset Password" />
</form>
</body>
</html>

